.btn-primary {
  margin-left: 40px;
  margin-right: 40px;
}

img {
  float: left;
  width: 400px;
  height: auto;
}

.info-pages {
  margin: 40px;
}

.snake-info, .turtle-info, .bee-info {
  display: none;
}